.slidecontainer{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.slider {
    width: 100%; /* Full-width */
    opacity: 0.3; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }